$amarelo-alaranjado: #eb9b00;
$azul-escuro: #002f52;
$azul-profundo: #0e3e61;
$branco: #ffffff;
$cinza-azulado: #ebecee;
$cinza-claro: #f9f9f9;
$cinza-escuro: #474646;
$cinza-medio: #858585;
$preto: #000000;

$fonte-principal: 'Segoe UI', sans-serif;
$fonte-secundaria: 'Arial', sans-serif;

$padding-horizontal: 5rem;
